@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Poppins:300,400,500,700");

body {
    background-color: #F7F7F7;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #264653;
}

h1 {
    color: #457b9d;
    font-family: "Poppins", sans-serif;
}

h3 {
    color: #2a9d8f;
    font-family: "Poppins", sans-serif;
}

a {
    text-decoration: none;
    color: #f4a261;
}

a:hover {
    color: #e76f51;
}

.img-circle {
    width: 100px;
    border-radius: 50%;
}

.container {
    margin: 0 auto;
}

.card {
    background-color: white;
    border-radius: 4px;
    text-align: center;
    padding: 20px;
    box-shadow: 0 5px 10px rgb(220, 218, 218);
    margin: 10px auto;
}

.list-inline > li {
    display: inline-block;
    padding: 0px 20px;
    font-size: 30px;
}

.list-inline {
    list-style: none;
    padding-left: 0px;
}

.btn-blue {
    background-color: #4D9078;
    border-radius: 5px;
    padding: 5px 15px;
    color: white;
}

.btn-blue:hover {
    background-color: black;
}

  @media (max-width: 960px) {
    /* For a screen < 960px, this CSS will be read */
    .container {
      width: 700px;
    }
  }
  @media (max-width: 720px) {
    /* For a screen < 720px, this CSS will be read */
    .container {
      width: 500px;
    }
  }
  @media (max-width: 540px) {
    /* For a screen < 540px, this CSS will be read */
    .container {
      width: 300px;
    }
  }